<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Vidhya Vishwanath">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Vidhya Vishwanath's professional website">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Vidhya</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Vidhya Vishwanath</h1>
        <nav class= "nav">
          <a href = "../../index.html">About</a>
          <a href = "cv.html">Resume</a>
          <a href = "contact.html">Contact Me</a>
          <a href = "fun.html">Hobbies</a>
        </nav>
    </header>
    <div>
        <h2>Resume</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
              <tr>
                <td>Institution 1</td>
                <td>Description 1</td>
              </tr>
              <tr>
                <td>Institution 2</td>
                <td>Description 2</td>
              </tr>
              <tr>
                <td>Institution 3</td>
                <td>Description 3</td>
              </tr>
              <tr>
                <td>Volunteering 1</td>
                <td>Description 4</td>
              </tr>
              <tr>
                <td>Volunteering 2</td>
                <td>Description 5</td>
              </tr>
        </table>
        <a href = "../static/Vishwanath_Vidhya_Resume.pdf">My Resume (pdf)</a>
    </div>
    <br>
    <footer> © 2025 Vidhya Vishwanath - All Rights Reserved</footer>
</body>
</html>